body{
    background-image: url('/IMG_4684.jpg');
    background-size: cover;
    background-position: center;
}

.audiocontainer ul {
    list-style: none;
    list-style-type: none;
}

.audiocontainer ul li img{
    float: right;
}


.audiocontainer{
    background-color: black;
    opacity: 85%;
    border-style: solid;
    border-color: white;
    color: white;
    display: block;
}



